$_root-font-size = 14
$root-font-size = unit( $_root-font-size, 'px' )

$root-font = "Helvetica Neue", Helvetica, Arial, sans-serif
$root-color = #333


_max-width = 960px

//  Color Definitions
_white = #fff
_black = #000
_red = #C33333
_green = #53a93f
_dark-gray = #333

//  Extensions
$full-size
    width 100%
    height 100%

$overlay
    background rgba(0, 0, 0, .8)
    color _white
    padding .2em